{template 'header.html'}
<div id="bd">
    	{template 'left.html'}
      <div id="bd_rightg">

        <div class="rightg_content">
{template 'position.html'}
        	
            <div class="content2">
            <div class="pd_title">{$announ[title]}</div>
                       <div id="content" style="width:690px;" class="pd">
<div style="text-align:center;color:red;"><?php if(hasflash()) { ?>
<?php echo showflash(); ?>
<?php } ?>
</div>
<style>
table tr td {line-height:32px;}
table input {height:16px;font-size:14px;line-height:16px;}
</style>
<form method="post" action="" name="form1">
		  <table width="650" border="0" align="center" cellpadding="7" cellspacing="0" style="font-size:14px;">
             <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td width="100">&nbsp;&nbsp;&nbsp;{lang('contactname')}：</td>
                <td>{form::input('nickname',get('username'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td width="100">&nbsp;&nbsp;&nbsp;{lang('guesttel')}：</td>
                <td>{form::input('guesttel',get('guesttel'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td width="100">&nbsp;&nbsp;&nbsp;{lang('guestemail')}：</td>
                <td>{form::input('guestemail',get('guestemail'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td width="100">&nbsp;&nbsp;&nbsp;{lang('guestqq')}：</td>
                <td>{form::input('guestqq',get('guestqq'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  {loop $field $f}
<?php
 $name=$f['name'];
 if($name==$primary_key) continue; ?>
<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td>&nbsp;&nbsp;&nbsp;{$name|lang}：</td>
                <td colspan="2">{form::getform($name,@$form,$field,@$data)} </td>
              </tr>
 {/loop}
  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td colspan="3" align="center" height="10">&nbsp;
                  </td>
              </tr>
            
              <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td>&nbsp;&nbsp;&nbsp;{lang('verifycode')}：</td>
                <td colspan="2"><span style="float:left;">{verify()}</span><span style="float:left;padding-left:10px;"><input type='text' id="verify"  name="verify" size="10" style="height:16px;" /></span><span style="color:#FF0000;float:left;">*</span>&nbsp;&nbsp;&nbsp;</td>
              </tr>
			  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td colspan="3" align="center" height="10">&nbsp;
                  </td>
              </tr>
              <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td colspan="3" align="center"><input type="submit" name="submit" value=" {lang('submit')} " style="float:right;padding:2px; background:none; border:0px none; background-color:#DDDDDD; color:#000000; width:70px;height:20px;line-height:20px;font-size:12px;" />
                  </td>
              </tr>
            </table>
</form>
		<div class="blank30"></div>
		{if $user}

    <h5></h5>

		<div style="border:1px solid #DBE2E6;margin:6px 0px 15px;background:#F7F7F7; text-align:center;color:#0F409C; font-weight:bold; font-size:14px;">{lang('guestlist')}</div>
    
    <table width="650" border="1" align="center" cellpadding="7" cellspacing="0" bordercolor="#EDEDED">

		{loop $data $d}
		<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
            <td scope="col" colspan="2"><strong>{$d[username]}</strong><span style="padding-left:20px;">{sdate($d[adddate],'Y-m-d H:i')}</span>
            </td>
        </tr>
        <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
		  <td style="width:80px;font-weight:bold;" align="center">{lang('guestcontent')}</td>
            <td scope="col">{$d[content]}</td>
			</tr>
         {if $d['reply']}<tr>
		 <td align="center">{lang('adminreply')}</td>
            <td scope="col">
                {$d['reply']}
            </td>
        </tr>{/if}
		{/loop}
    </table>
              </td>
            </tr>
          </table>
		  <div class="clear"></div>
<div class="blank30"></div>
    <div class="pages"><?php echo pagination::html($record_count); ?></div>
{/if}

<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div></div>
            </div>
            <div class="clear"></div>
        </div>
   	  </div>
{template 'footer.html'}