{template 'header.html'}
<div id="bd">
    	{template 'left.html'}
      <div id="bd_rightg">

        <div class="rightg_content">
		{template 'position.html'}
        	
            <div class="content2">
            <div class="pd_title"></div>
                       <div id="content" class="pd">
{loop categories($catid) $i $t}
		<div class="category_title">
			<span><a title="{$t[catname]}" href="{category::url($t[catid])}">more</a></span><a title="{$t[catname]}" href="{category::url($t[catid])}">{$t[catname]}</a>
		</div>
		<div style="padding:10px 0px 0px;">
			{loop archive($t[catid],0,0,'0,0,0',20,'aid',10,false,0) $i $arc}
			<div class="product_box">
			<div class="p_box"><a title="{$arc[title]}" target="_blank" href="{$arc[url]}"><img alt="{$arc[title]}" src="{$base_url}/{$arc[thumb]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
			<h5><a title="{$arc[title]}" target="_blank" href="{$arc[url]}">{$arc[title]}</a></h5>
		</div>
			{/loop}
			</div>
		<div class="blank10"></div>
		{/loop}
<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div></div>
            </div>
            <div class="clear"></div>
        </div>
   	  </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}