{template 'header.html'}
<div id="bd">
    	{template 'left.html'}
      <div id="bd_rightg">
	  <div class="banner1">{template 'position.html'}</div>
<div class="blank10"></div>

        <div class="rightg_content">
		
            <div class="content2">
         <ul class="news_list">
			{loop $archives $i $arc}
			<li><span class="date">{$arc[adddate]}	/	{if $arc['attachment_id']}{attachment_js($arc['aid'])}{/if}</span><a title="{$arc[title]}" target="_blank" href="{$arc[url]}">{$arc[title]}</a></li>
			{/loop}
		</ul>
		<div class="blank10"></div>
		{if isset($pages)}
{category_pagination($catid)}
{/if}
<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
		<div class="blank30"></div>
            </div>
<div class="clear"></div>
        </div>

      <div class="blank10"></div>
    </div>
{template 'footer.html'}