body {background:#D9E9F6;}

img {border:none;}

a {margin: 0px;padding:0px;border:0px;}
a:link {color:#333;text-decoration:none;}
a:visited{color:#666;text-decoration: none;}
a:hover{color:#D9271F;text-decoration: underline;}

#header {height:80px;line-height:80px;background:#193C6B;}
#main {background:white;padding:30px 20px;border-left:1px solid #ccc;}
#footer {padding:5px 10px;border-top:1px solid #ccc;font-size:10px;color:#ccc;}
#footer a {color:#ccc;}

/************* 分页 */

.pages {
  clear:both;

}

.pages strong {
  color:#555;
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  background:#F5F5F5;
  border:1px solid #ccc;
  margin: 0px 3px 0px 0px;
}
.pages a {
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  border:1px solid #CCC;
  text-decoration:none;
  margin: 0px 3px 0px 0px;
  color:#555;
}

.pages span {
  float:right;
}